/* * */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

/* body */

body {
  color: #fff;
  background-color: #1a1c29;
}

/* header */

header {
  position: fixed;
  z-index: 10;
  height: 120px;
  width: 100%;
  background-color: #000;
}

/* ヘッダー上部 */

.header-top {
  height: 70px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .logo img {
  width: 100px;
}

.global-nav {
  flex-grow: 1;
  background: #1a1d29;
  padding-left: 20px;
}

.header-bottom {
  background-color: #1a1d29;
  height: 50px;
}
