/* * */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

a {
  text-decoration: none;
}

/* body */

body {
  color: #fff;
  background-color: #1a1c29;
}

/* header */

header {
  position: fixed;
  z-index: 10;
  height: 120px;
  width: 100%;
  background-color: #000;
}

/* ヘッダー上部 */

.header-top {
  height: 70px;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .logo img {
  width: 100px;
}

.header-top .header-btn {
  display: flex;
}

.header-top .btn {
  width: 100px;
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  background: #016cfa;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.header-bottom {
  flex-grow: 1;
  background: #1a1d29;
  height: 50px;
  padding-left: 20px;
}

.global-nav {
  max-width: 1230px;
  margin: 0 auto;
}

.global-nav ul {
  display: flex;
  height: 50px;
}

.global-nav li {
  display: flex;
  list-style: none;
  margin-right: 44px;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 3px;
  color: #7e7f7e;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.nav-item:hover {
  color: #fff;
  border-bottom: 4px solid #fff;
}
